.fly-section {
  height: 615px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  @media (max-width: $md) {
    grid-template-columns: repeat(1, 1fr);
  }

  .tap-to-fly {
    padding: 0 5rem;
    background-image: url('../images/tap-to-fly.png');
    background-size: cover;
    grid-column: span 3 / span 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $md) {
      padding: 0;
      justify-content: flex-start;
      grid-column: span 1 / span 1;
    }

    .description {
      display: flex;
      flex-direction: column;

      span {
        font-size: 60px;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      p {
        font-size: 14px;
        color: $light-gray;

        @media (max-width: $sm) {
          text-align: end;
        }
      }
    }
  }

  .fly-higher {
    background-image: url('../images/photo-fly-higher.png');
    background-size: cover;
    grid-column: span 7 / span 7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $md) {
      grid-column: span 1 / span 1;
    }

    .dark-container {
      background-color: rgba(0, 0, 0, .6);
      max-width: calc(45% - 10rem);
      height: 100%;
      color: white;
      font-size: 60px;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 0 5rem;

      @media (max-width: $md) {
        max-width: none;
        font-size: 50px;
        padding: 0 1rem;
        grid-column: span 1 / span 1;
      }
    }

    button {
      padding: .9rem 1.7rem;
      border-radius: 9999px;
      margin-right: 9rem;
      border: none;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      transform: rotate(-90deg);

      @media (max-width: $md) {
        margin-right: 5rem;
      }

      @media (max-width: $sm) {
        margin-right: 0;
      }
    }
  }
}