.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: $very-light-gray;
  position: relative;
  padding-left: 18rem;

  .scroll {
    position: absolute;
    left: 9.5rem;
    bottom: 7rem;
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: bold;
    animation: bounce 1s infinite;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: relative;

    .red-circle {
      position: absolute;
      left: -5rem;
      top: 2.8rem;
      width: 7px;
      height: 7px;
      background-color: $primary;
      border-radius: 99px;
    }

    span {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    p {
      font-size: 14px;
      color: $light-gray;
      line-height: 30px;
    }
  }

  .white-circle {
    position: absolute;
    right: calc(38% - calc(580px / 2));
    top: calc(50% - calc(580px / 2));
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: white;
    width: 580px;
    height: 580px;

    .drone-img {
      display: block;
      max-width: 1231px;
      max-height: 527px;
      width: auto;
      height: auto;
    }
  }

  .red-part {
    overflow: hidden;
    position: absolute;
    right: 0;
    background-color: $primary;
    width: 38%;
    height: 100%;

    .mars {
      user-select: none;
      font-size: 388px;
      font-weight: bold;
      position: absolute;
      right: -25rem;
      top: 23rem;
      transform: rotate(90deg);
      color: $primary;
      text-shadow: 0 0 55px rgba(0, 0, 0, 0.15);
    }
  }
}