.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: $very-light-gray;
  position: relative;
  padding-left: 18rem;

  @media (max-width: $lg) {
    padding-left: 10rem;
  }

  @media (max-width: $md) {
    padding-left: 2rem;
  }

  @media (max-width: $sm) {
    padding-left: 0;
  }

  .scroll {
    position: absolute;
    left: 9.5rem;
    bottom: 7rem;
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: bold;
    animation: bounce 1s infinite;


    @media (max-width: $lg) {
      left: 3rem;
    }

    @media (max-width: $md) {
      left: 0;
    }
  }

  .product-description {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    position: relative;
    z-index: 5;

    .red-circle {
      position: absolute;
      left: -5rem;
      top: 2.8rem;
      width: 7px;
      height: 7px;
      background-color: $primary;
      border-radius: 99px;

      @media (max-width: $md) {
        left: 1rem;
        top: -3rem;
      }
    }

    .title {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 2rem;

      @media (max-width: $md) {
        font-size: 58px;
      }
    }

    p {
      font-size: 14px;
      color: $light-gray;
      line-height: 30px;


      @media (min-width: $md2sm) and (max-width: $xl) {
        margin-bottom: 15rem;
      }
    }
  }

  .white-circle {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: white;

    $size: 580px;
    width: $size;
    height: $size;
    right: calc(38% - calc(#{$size} / 2));
    top: calc(50% - calc(#{$size} / 2));

    @media (max-width: $xl) {
      $size: 580px * .7;
      width: $size;
      height: $size;
      right: calc(38% - calc(#{$size} / 2));
      top: calc(70% - calc(#{$size} / 2));
    }

    @media (max-width: $lg) {
      $size: 580px * .53;
      width: $size;
      height: $size;
      right: calc(38% - calc(#{$size} / 2));
      top: calc(70% - calc(#{$size} / 2));
    }

    @media (max-width: $md) {
      $size: 290px;
      width: $size;
      height: $size;
      right: calc(45% - calc(#{$size} / 2));
      top: calc(70% - calc(#{$size} / 2));
    }

    @media (max-width: $md2sm) {
      display: none;
    }


    .drone-img {
      $percentage: 270%;
      display: block;
      max-width: 1231px;
      max-height: 527px;
      width: auto;
      height: auto;

      @media (max-width: $lg) {
        width: .7 * $percentage;
      }

      @media (max-width: $md) {
        width: .6 * $percentage;
      }
    }
  }

  .red-part {
    overflow: hidden;
    position: absolute;
    right: 0;
    background-color: $primary;
    width: 38%;
    height: 100%;

    @media (max-width: $md) {
      width: 45%;
    }

    @media (max-width: $md2sm) {
      display: none;
    }

    .mars {
      user-select: none;
      font-size: 388px;
      font-weight: bold;
      position: absolute;
      right: -25rem;
      top: 23rem;
      transform: rotate(90deg);
      color: $primary;
      text-shadow: 0 0 55px rgba(0, 0, 0, 0.15);
    }
  }
}