.journey-section {
  height: calc(1190px - 15rem);

  background-image: url('../images/photo-journey.png');
  background-size: cover;

  font-size: 90px;
  font-weight: bold;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15rem;

  @media (max-width: $sm) {
    font-size: 72px;
    text-align: center;
  }

  p {
    margin-bottom: 4rem;
  }

  button {
    text-transform: uppercase;
    position: relative;
    border: 2px solid white;
    border-radius: 999px;
    padding: .9rem 1.7rem;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    outline: none;
    mix-blend-mode: screen;
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;

    &:hover::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      border-radius: 999px;
      content: '';
      mix-blend-mode: color-burn;
    }

    &:hover {
      border: 2px solid white;
      background: white;
      outline: none;
      color: black;
      mix-blend-mode: screen;
    }
  }
}