$primary: #ff343d;
$dark-gray: #232323;
$light-gray: #92a1a5;
$very-light-gray: #eff1f6;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%) rotate(-90deg);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0) rotate(-90deg);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@import 'reset';
@import 'navbar';
@import 'hero';
@import 'menu-overlay';
@import 'fly-section';
@import 'features-section';
@import 'new-generation-vision-section';
@import 'new-generation-flying-section';
@import 'journey-section';

.text-primary {
  color: $primary;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2.5rem 0;
}