body {
  .nav-overlay {
    background-color: rgba(0, 0, 0, .6);

    .left-menu {
      color: white;
    }

    .nav-container .right-menu .buy {
      @media (max-width: $sm) {
        color: white;
      }
    }

    .nav-container .right-menu .burger .line {
      @media (max-width: $sm) {
        background-color: white;
      }
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 15;
  height: 5rem;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  .nav-container {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: $md) {
      padding: 0 3rem;
    }
    @media (max-width: $sm) {
      padding: 0 1rem;
    }

    .left-menu {
      display: flex;
      align-items: center;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 500ms;

      .phone {
        margin-left: 4rem;

        @media (max-width: $sm) {
          display: none;
        }
      }
    }

    .right-menu {
      display: flex;
      align-items: center;

      .buy {
        font-weight: bold;
        margin-right: 2rem;
        color: white;
        cursor: pointer;
        text-underline-offset: 3px;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 400ms;

        @media (max-width: $sm) {
          color: black;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 30px;
        height: 30px;

        .line {
          width: 20px;
          height: 2px;
          background-color: white;
          margin-bottom: .3rem;
          transition: transform 0.3s, background-color 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

          @media (max-width: $sm) {
            background-color: black;
          }
        }

        .line:last-child {
          margin: 0;
        }
      }
    }
  }
}