.new-generation-flying-section {
  display: flex;
  align-items: center;
  height: 870px;
  justify-content: space-between;
  padding-left: 11rem;

  @media (max-width: $sm) {
    padding-left: 0;
  }

  p {
    font-size: 92px;
    margin-bottom: 5rem;

    @media (max-width: $sm) {
      font-size: 57px;
    }
  }

  .products {
    font-size: 18px;
    font-weight: bold;
    margin-left: 3rem;
  }

  img {
    @media (max-width: $sm) {
      display: none;
    }

    margin-right: -8rem;
    display: block;
    max-height: 590px;
    width: auto;
    height: auto;
  }
}